#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}


.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.module {
    min-height: 100vh;
}

.module .ant-layout-sider {
    min-height: 100vh;
    background: #2a4b69;
}

.module .ant-layout-sider .ant-menu.ant-menu-dark,
.module .ant-layout-sider .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #2a4b69;
}

.module .logo-title {
    color: #fff;
    margin: 16px;
    /* background: rgba(255, 255, 255, 0.3); */
    text-align: center;
}

.ant-btn-primary {
    margin-right: 35px;
}
